body {

background: url(../imagenes/fondo.jpg) no-repeat center center fixed;
background-size: cover;

}

.main-section{

    left: 90px;
    margin:0 auto;
    margin-top: 10%;
    padding: 10;
}

.user-img {

    margin-top: -10px;
    margin-bottom: 50px;


}

.user-img img {

    width: 110px;
    height: 110px;


}

